<!-- 
    File: login.html
    Author: Jiang Cheng Liu (jiangcl@bu.edu)
    Date: 12/10/2024
    Description: login page for the Stack app. This page allows users to login to their account.
-->

{% extends 'Stack/base.html' %}


{% block content %}
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{% url 'investing' %}">
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}

