<!-- 
    File: logout.html
    Author: Jiang Cheng Liu (jiangcl@bu.edu)
    Date: 12/10/2024
    Description: logout page for the user to logout of their account.
-->

{% extends 'Stack/base.html' %}
    
    {% block content %}
        <div class="logout-container">
            <h2>Logout</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
    {% endblock %}