<!-- 
    File: update_profile.html
    Author: Jiang Cheng Liu (jiangcl@bu.edu)
    Date: 12/10/2024
    Description: page that allows the user to update their profile information, including first name, last name, email, and balance.
-->

{% extends 'Stack/base.html' %}

{% block content %}
    <h1>Update Profile</h1>
    <div class="update-profile-container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update</button>
        </form>
    </div>
{% endblock %}