{% extends 'mini_fb/base.html' %}

{% block content %}
    <h2>Create a Profile</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'create_profile' %}">
        {% csrf_token %}
        <h3>Create User</h3>
        <table>
            {{ user_creation_form.as_table }}  
        </table>

        <h3>Create Profile</h3>
        <table>
            {{ form.as_table }}  
        </table>

        <input type="submit" value="Create Profile">
    </form>
    <form action="/mini_fb/" method="get">
        <input type="submit" value="Cancel" />
    </form>
{% endblock %}
