{% extends 'mini_fb/base.html' %}

{% block content %}
    <h2>News Feed for {{ profile.first_name }} {{ profile.last_name }}</h2>

    {% if statuses %}
        <ul>
            {% for status in statuses %}
                <li>
                    <img src="{{ status.profile.image_url }}" 
                         alt="{{ status.profile.first_name }} {{ status.profile.last_name }}'s profile picture"/ style="width:100px;height:100px;">
                    <strong>{{ status.author.first_name }} {{ status.author.last_name }}</strong>: 
                    {{ status.status_message }} <br>  
                    <small>Posted on {{ status.created_at }}</small>  
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No status messages available.</p>
    {% endif %}

    <a href="{% url 'show_profile' profile.id %}">Back to Profile</a>
{% endblock %}
