<!-- templates/show_all_profiles.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
    <h2>All Profiles</h2>
    <table id="all_profiles_table">
        <tr>
            <th>Profile</th> 
        </tr>
        {% for profile in profiles %}
        <tr>
            <td class="profile-cell">
                {% if profile.image_url %}
                    <a href="{% url 'show_profile' profile.id %}">
                        <img src="{{ profile.image_url }}" alt="{{ profile.first_name }}" width="100" class="profile-image">
                    </a>
                {% else %}
                    <p>No image available</p>
                {% endif %}
                <a href="{% url 'show_profile' profile.id %}"><h3>{{ profile.first_name }} {{ profile.last_name }}</h3></a>
                <p>{{ profile.city }}</p>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>No profiles found</td> 
        </tr>
        {% endfor %}
    </table>
{% endblock %}
