{% extends 'mini_fb/base.html' %}

{% block content %}
    <h2>{{ profile.first_name }}'s Profile</h2>
    <nav>
        <ul>
            <li><a href="{% url 'create_status' profile.id %}">Create Status</a></li>
            <li><a href="{% url 'update_profile' profile.id %}">Update Profile</a></li>
        </ul>
    </nav>
    <img src="{{ profile.image_url }}" alt="{{ profile.first_name }}'s profile picture" style="width:200px;height:200px;">
    <table id="show_profile_table">
        <tr>
            <th>Full Name</th>
            <td>{{ profile.first_name }} {{ profile.last_name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ profile.email }}</td>
        </tr>
    </table>
    <h2>Status Messages</h2>
    <ul>
        {% for status in status_messages %}
            <li>{{ status.created_at }} - {{ status.status_message }}</li>
            <div id="delete-update-container">
                <nav class="delete">
                    <a href="{% url 'delete_status' status.pk %}">Delete</a>
                </nav>
                <nav class="update">
                    <a href="{% url 'update_status' status.pk %}">Update</a>
                </nav>
            </div>
            {% for img in status.get_images %}
                <div id="status-image-container">
                    <img src='{{ img.img.url }}' alt='{{ img.img.url }}'>
                </div>
            {% empty %}
                <li>No images available for this status message.</li>
            {% endfor %}
        {% empty %}
            <li>No status messages available.</li>
        {% endfor %}
    </ul>
    
{% endblock %}
